body {
    background: #DDD;
}

.bg {
    /*
    background-image: url('https://www.xtrafondos.com/wallpapers/scarlett-johansson-revista-the-hollywood-reporter-7661.jpg');
     */
    background-repeat: no-repeat;
    background-size: 100vw;
}
.public { 
    height: 90vh;
    margin: auto;
    animation: 2s ease-out 1s infinite slideInFromLeft;

}
@keyframes slideInFromLeft {
    0% {
        width: 100%;
        background-color: transparent;
    }
    50% {
        width: 70%;
        background-color: rgba(200, 200, 200, .2);

    }
    100% {
        width: 100%;
        background-color: transparent;
    }
  }

 .content {
    text-align: center;
    position: relative;
    top: 35vh;  
}
